#formDiv{
    position: relative;
    top: 300px;
    height: 300px;
    width:600px;
    margin: auto;
    border: solid;
}

#code{
    position: relative;
    right: 120px;
    width: 50%;
    height: 30px;
    margin: 30px;
}


